<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="backend" value="DAL.Repositories.SqlServer" />
		<add key="es-AR,en-US" />
		<add key="filePath" value="C:\Users\agusf\source\repos\BOS Manager\UI\bin\Debug\Logger.txt" />
		<add key="idiomaPath" value="C:\Users\agusf\source\repos\BOS Manager\UI\I18n\idioma." />
		<add key="SP_Login" value="SP_Login" />
		<add key="Bkup" value="BACKUP DATABASE [BOSDB] TO  DISK = N'C:\Users\agusf\source\repos\BOS Manager\BackUp\BOSDB.bak' WITH NOFORMAT, NOINIT,  NAME = N'BOSDB-Full Database Backup', SKIP, NOREWIND, NOUNLOAD,  STATS = 10" />
	</appSettings>
    <connectionStrings>
        <add name="DBConnection" connectionString="Data Source=DESKTOP-HOT45OL;Initial Catalog=BOSDB;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CompoDB" connectionString="Data Source=DESKTOP-HOT45OL;Initial Catalog=Composite;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="UI.Properties.Settings.Conn" connectionString="Data Source=DESKTOP-HOT45OL;Initial Catalog=BOSDB;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="UI.Properties.Settings.BOSDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=BOSDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>